<div id="postHeader" class="medium-width" ng-include="postHeaderTemplate"></div>
<hr class="greek-divider">
<div id="postBody" class="box-vert-lg full-w">
    <div ng-if="data.body.allowRightSidebar == true" class="medium-width col-mobile">
        <div id="postBodyLeft" class="col max-width-is-medium">
            <div ng-repeat="body in data.body.content" class="col">
                <div ng-if="body.type == 'paragraph'" class="col">
                    <div class="medium-width post-paragraph box-hort-sm wrap-vert-lg">
                        {{body.content}}
                    </div>
                </div>
                <div ng-if="body.type == 'standardPhoto'" class="full-w col a-center box-vert-sm">
                    <img class="post-standard-photo" src="{{body.source}}" alt="{{body.alt}}">
                    <div class="post-standard-photo wrap-vert-lg a-center wrap-hort-xl">
                        <div class="wrap-vert-lg bg-pri white wrap-hort-lg subtitle sm rounded max-content-w">Photo</div>
                        <div class="title sm wrap-hort-md wrap-hort-xl">{{body.attribution}}</div>
                    </div>
                    <div class="post-standard-photo a-center subtitle rg wrap-hort-xl">
                        {{body.caption}}
                    </div>
                </div>
                <div ng-if="body.type == 'standardQoute'" class="a-center box-vert-sm col">
                    <hr class="greek-divider full-w">
                    <div class="box-vert-sm"></div>
                    <div class="half-at-desktop col box-hort-sm">
                        <div class="quote-content"><span class="quote-icon">“</span>{{body.content}}</div>
                        <div class="wrap-vert-md"></div>
                        <div class="title rg j-center">{{body.author}}</div>
                        <div class="subtitle rg j-center">{{body.authorLabel}}</div>
                    </div>
                    <div class="box-vert-sm"></div>
                    <hr class="greek-divider full-w">
                </div>
            </div>
        </div>
        <div id="postBodyRight" class="post-side-bar">
            <div ng-if="data.hasReferenceProject" class="box-hort-md" ng-include="projectCardTemplate">
            </div>
        </div>
    </div>
    <div ng-if="data.body.allowRightSidebar !== true" class="full-w col">
        <div id="postBodyLeft" class="col full-w">
            <div ng-repeat="body in data.body.content" class="full-w col">
                <div ng-if="body.type == 'paragraph'" class="full-w col">
                    <div class="medium-width post-paragraph box-hort-sm wrap-vert-lg">
                        {{body.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
