@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');


html {
    font-size: 16px;
}

:root {
    --primary: #4f46e5;
    --secondary: #282828;
    --light: #f9f9f9;
    --white: white;
    --danger: #ff4c4c;
    --title: 'Roboto';
    --title-thin: 300;
    --title-regular: 500;
    --title-bold: 700;
    --subtitle: 'Montserrat';
}

.greek-input-regular {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    color: #222;
}

.greek-nav-item {
    margin-right: 10px;
}

button {
    border-style: none;
    cursor: pointer;
}
.rounded {
    border-radius: 10px;
}

.greek-divider {
    border-style: none;
    background-color: #ececec;
    height: 1px;
}

.max-content-w {
    width: max-content;
}

.max-content-h {
    height: max-content;
}

.medium-width {
    max-width: 1080px;
    width: 100%;
    margin: auto;
}

.site-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.post-title {
    font-family:'Roboto';
}

.post-date {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 200;
}

.post-paragraph {
    font-size: 17px;
    font-family: 'Roboto';
    line-height: 26px;
    font-weight: 200;
}

.author-handle {
    margin-left: 5px;
    font-weight: 500;
    color: var(--primary);
}

.max-width-is-medium {
    max-width: 720px;
    width: 100%;
}



.height-after-header {height: 85vh;}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) and (min-width: 100px) {
    .greek-icon {
        height: 17px;
    }
    .greek-icon.has-width {
        width: 25px;
    }
    .greek-icon.has-width-lg {
        width: 35px;
    }
    #greek-update-photo > #profile-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #greek-update-photo #profile-details .divider {
        text-align: center;
    }
    #greek-update-photo #photo_image_url {
        margin-bottom: 10px;
    }
    .profile-photo.small {
        height: 50px;
        min-width: 50px;
        border-radius: 60px;
    }
    .greek-post-sg-img-cnt--mobile-only {
        width: 95%;
    }
    .greek-post-db-img-cnt--mobile-only {
        width: 95%;
        margin-bottom: 1px;
    }
    .greek-post-mult-img-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .greek-post-mult-img-wrapper div.mult-img-cnt-1 {
        width: 96.8%;
        height: 200px;
        margin-bottom: 3px;
    }
    .greek-post-mult-img-wrapper div.mult-img-cnt-2 {
        width: 48%;
        height: 150px;
        margin-right: 3px;
    }
    .greek-post-mult-img-wrapper div.mult-img-cnt-3 {
        width: 48%;
        height: 150px;
        margin-right: 3px;
    }
    .distance-from-header-lg {
        padding-top: 40px;
    }
    .post-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
    }
    .post-standard-photo {
        width: 100%;
    }
    .quote-content {
        font-size: 20px;
        line-height: 30px;
        font-family: 'Roboto';
        font-weight: 800;
    }
    .quote-icon {
        font-size: 50px;
        font-family: 'Times New Roman';
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 768px) and (min-width: 601px) {
    .greek-icon {
        height: 17px;
    }
    .greek-icon.has-width {
        width: 25px;
    }
    .greek-icon.has-width-lg {
        width: 40px;
    }
    #greek-update-photo #profile-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #greek-update-photo #profile-details .divider {
        text-align: center;
    }

    #greek-update-photo #photo_image_url {
        margin-bottom: 10px;
    }
    .profile-photo.small {
        height: 55px;
        min-width: 50px;
        border-radius: 55px;
    }
    .greek-post-sg-img-cnt {
        width: 100%;
        height: 350px;
    }
    .greek-post-sg-img-cnt--mobile-only {
        display: none;
    }
    .greek-post-db-img-cnt {
        width: 100%;
        height: 200px;
        margin-bottom: 3px;
    }
    .greek-post-db-img-cnt--mobile-only {
        display: none;
    }
    .greek-post-mult-img-wrapper {
        display: flex;
    }
    .greek-post-mult-img-wrapper div.greek-post-mult-img-cnt {
        width: 33%;
        height: 120px;
        margin-right: 3px;
    }
    .distance-from-header-lg {
        padding-top: 40px;
    }
    .post-title {
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
    }
    .post-standard-photo {
        width: 90%;
    }
    .quote-content {
        font-size: 20px;
        line-height: 30px;
        font-family: 'Roboto';
        font-weight: 800;
    }
    .quote-icon {
        font-size: 50px;
        font-family: 'Times New Roman';
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 992px) and (min-width: 769px) {
    .greek-icon {
        height: 18px;
    }
    .greek-icon.has-width {
        width: 28px;
    }
    .greek-icon.has-width-lg {
        width: 40px;
    }
    .profile-photo.small {
        height: 60px;
        width: 60px;
        border-radius: 60px;
    }
    .greek-post-sg-img-cnt {
        width: 100%;
        height: 350px;
    }
    .greek-post-sg-img-cnt--mobile-only {
        display: none;
    }
    .greek-post-db-img-cnt {
        width: 100%;
        height: 200px;
        margin-bottom: 3px;
    }
    .greek-post-db-img-cnt--mobile-only {
        display: none;
    }
    .greek-post-mult-img-wrapper {
        display: flex;
    }
    .greek-post-mult-img-wrapper div.greek-post-mult-img-cnt {
        width: 33%;
        height: 120px;
        margin-right: 3px;
    }
    .distance-from-header-lg {
        padding-top: 50px;
    }
    .post-title {
        font-size: 32px;
        font-weight: 900;
        line-height: 40px;
    }
    .post-side-bar {
        width: 380px;
    }
    .post-standard-photo {
        width: 90%;
    }
    .quote-content {
        font-size: 22px;
        line-height: 30px;
        font-family: 'Roboto';
        font-weight: 800;
    }
    .quote-icon {
        font-size: 50px;
        font-family: 'Times New Roman';
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 1200px) and (min-width: 993px) {
    .greek-icon {
        height: 20px;
    }
    .greek-icon.has-width {
        width: 30px;
    }
    .greek-icon.has-width-lg {
        width: 45px;
    }
    .profile-photo.small {
        height: 60px;
        width: 60px;
        border-radius: 60px;
    }
    .greek-post-sg-img-cnt {
        width: 100%;
        height: 400px;
    }
    .greek-post-sg-img-cnt--mobile-only {
        display: none;
    }
    .greek-post-db-img-cnt {
        width: 100%;
        height: 200px;
        margin-bottom: 3px;
    }
    .greek-post-db-img-cnt--mobile-only {
        display: none;
    }
    .greek-post-mult-img-wrapper {
        display: flex;
    }
    .greek-post-mult-img-wrapper div.greek-post-mult-img-cnt {
        width: 33%;
        height: 120px;
        margin-right: 3px;
    }
    .distance-from-header-lg {
        padding-top: 60px;
    }
    .post-title {
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
    }
    .post-side-bar {
        width: 480px;
    }
    .post-standard-photo {
        width: 85%;
    }
    .quote-content {
        font-size: 24px;
        line-height: 32px;
        font-family: 'Roboto';
        font-weight: 800;
    }
    .quote-icon {
        font-size: 52px;
        font-family: 'Times New Roman';
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
    .greek-icon {
        height: 20px;
    }
    .greek-icon.has-width {
        width: 30px;
    }
    .greek-icon.has-width-lg {
        width: 45px;
    }
    .profile-photo.small {
        height: 60px;
        width: 60px;
        border-radius: 60px;
    }
    .greek-post-sg-img-cnt {
        width: 100%;
        height: 400px;
    }
    .greek-post-sg-img-cnt--mobile-only {
        display: none;
    }
    .greek-post-db-img-cnt {
        width: 100%;
        height: 200px;
        margin-bottom: 3px;
    }
    .greek-post-db-img-cnt--mobile-only {
        display: none;
    }
    .greek-post-mult-img-wrapper {
        display: flex;
    }
    .greek-post-mult-img-wrapper div.greek-post-mult-img-cnt {
        width: 33%;
        height: 120px;
        margin-right: 3px;
    }
    .distance-from-header-lg {
        padding-top: 60px;
    }
    .post-title {
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
    }
    .post-side-bar {
        width: 480px;
    }
    .post-standard-photo {
        width: 85%;
    }
    .quote-content {
        font-size: 24px;
        line-height: 32px;
        font-family: 'Roboto';
        font-weight: 800;
    }
    .quote-icon {
        font-size: 52px;
        font-family: 'Times New Roman';
    }
}
